<h1>Welcome! </h1>
<div class="form-horizontal">  
<%= form_for @user do |f| %>  
	<%= f.label :first_name %> <br/>
	<%= f.text_field :firstname %>

	<%= f.label :last_name %> <br/>
	<%= f.text_field :lastname %>

	<%= f.label :user_name %> <br/>
	<%= f.text_field :user_name %>

	<%= f.label :password %> <br/>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation %> <br/>
	<%= f.password_field :password_confirmation %>

</div>

	<%= select(:user, :role, [['Teacher', 'teacher'], ['Parent', 'parent'], ['Student', 'student']]) %> <br/>
	<%= f.submit %>

	<% end %>  
</div> 
