<h1>Welcome! </h1>
<div class="form-horizontal">  
<%= form_for @user do |f| %>  
<div>
	<%= f.label :first_name %> <br/>
	<%= f.text_field :firstname %></div>
<div>
	<%= f.label :last_name %> <br/>
	<%= f.text_field :lastname %></div>
<div>
	<%= f.label :user_name %> <br/>
	<%= f.text_field :user_name %></div>
<div>
	<%= f.label :password %> <br/>
	<%= f.password_field :password %></div>
<div>
	<%= f.label :password_confirmation %> <br/>
	<%= f.password_field :password_confirmation %></div><br/>

</div>

	<%= select(:user, :role, [['Teacher', 'teacher'], ['Parent', 'parent'], ['Student', 'student']]) %> <br/><br/>
	<%= f.submit %>

	<% end %>  
</div> 
