<div class="row">
    <div class="col-md-12 text-center">
	    <div class="well controls">
	    <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
	    <i class="glyphicon glyphicon-backward"></i>
	    <% end %>
	    <%= "#{@date.strftime("%B")} #{@date.year}" %>
	    <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
	    <i class="glyphicon glyphicon-forward"></i>
	    <% end %>
		</div>
	</div>
</div>
 <div id="cal-day">
 		<%= calendar @date do |d| %> 
 			<%= link_to d.day, events_path %>
 			<% if d == Date.parse('2014-03-25') %> <br/> 
 				<%= link_to "Lesson with Lan", event_path(Event.find(2)) %> 
 			<% end %> 
 			<% if d == Date.parse('2014-03-14') %> <br/>
 				<%= link_to "Lesson with Compost", event_path(Event.find(3)) %> 
 			<% end %>
	<% end %> 
</div>
