<!DOCTYPE html>
<html>
<head>
  <title>SmithMusic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>  	
	<%= render 'layouts/header' %> 
	<div class="container">
	<% if current_user.present? %>
		Welcome <%= current_user.user_name %>! | <%= link_to 'Sign out', logout_path %>
		| <%= link_to 'Evaluations', performance_evaluations_path %>| <%= link_to 'New Lesson', new_event_path %> 
	<% else %>
		<%= link_to 'Register', new_user_path %> | <%= link_to 'Sign in', login_path %>
	<% end %>

	<%= notice %>
	<%= alert %>

	<%= yield %>
	<%= render 'layouts/footer' %> 
	</div>
</body>


